.hoverEffect {
    background-color:rgb(0, 102, 255);
    font-size: 18px;
}
.hoverEffect:hover {
    background-color: blue;
    transition: 0.3s;
    font-size: 18px;
  }
  .hoverEffect1 {
    background-color:green;
    font-size: 18px;
}
.hoverEffect1:hover {
    background-color: rgb(0, 128, 79);
    transition: 0.3s;
    font-size: 18px;
  }
  .hoverEffect2 {
    background-color:orange;
    font-size: 18px;
}
.hoverEffect2:hover {
    background-color: rgb(255, 145, 0);
    transition: 0.3s;
    font-size: 18px;
  }
  @media(max-width:768px){
  .slidebar{
    background-color: blue;
    top:0;
    max-height: 72vh;
  }
  .bc:hover{
    background-color: rgb(184, 182, 182);
    }
}
@media(min-width:768px){
.slidebar{
  position: sticky;
  top:0;
  max-height:70vh;
  }
  .bc:hover{
    background-color: rgb(184, 182, 182);
    }
}
 