.hero-section {
    display: flex; /* Create a row layout */
    /*justify-content: space-between; /* Space between image and text/input */
    align-items: center; /* Vertically align items */
    height: 100vh; /* Full viewport height */
    padding: 0; /* Add some padding around */
    /*box-sizing: border-box; /* Include padding and border in height/width */
    background: ghostwhite;
}

.thinker-container {
    flex: 1; /* Image container takes up 1 part of the space */
    display: flex;
    justify-content: left; /* Center image horizontally */
    align-items: end; /* Center image vertically */
    margin-left: 15%;
}

.thinker-image {
    max-width: 75%; /* Ensure the image scales properly */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50px; /* Optional: rounded corners */
}

.title-container {
    margin-right: 15%;
    margin-top: -15%;
}

.hero-title {
    font-size: 3rem; /* Adjust font size for title */
    font-weight: bold;
}

.hero-subtitle {
    font-size: 1.5rem;
    color: #555; /* Subtle color for subtitle */
    margin-bottom: 20px;
    font-weight: bold;
}

.right-container {
    flex: 1; /* Text and input container takes up 2 parts of the space */
    display: flex;
    flex-direction: column; /* Stack text and input vertically */
    justify-content: space-between; /* Push search input to the bottom */
    height: 50%; /* Adjust as needed for spacing */
}

.search-container {
    margin-top: 20px;
}



.search-input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    width: 350px;

}

.search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}
