@font-face {
    font-family: 'vazir';
    src: url('Vazirmatn-Regular.ttf') format('truetype');
    src: url('Vazirmatn-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'vazir', sans-serif;
}
